<!doctype html>

<html ng-app="angLocApp">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
  <script src="/ngAddParcel.js"></script>
  <script type="text/javascript" src="/js/tools.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <meta charset="UTF-8">
</head>

<body>
  <h1>Add new parcel</h1>
  <div ng-controller="AddParcelController">

    <div class="form-table" style="margin-bottom: 10px;">
      <table>
        <tr>
          <td class="text-center form-table-td">
            Customer
          </td>
          <td class="text-center form-table-td">
            <select class="form-input" ng-model="newParcel.customer">
              <option ng-repeat="c in customers" value="{{c.custId}}">{{c.custId}} - {{c.custName}}</option>
            </select>
          </td>
        </tr>
        <tr>
          <td class="text-center form-table-td">
            Location
          </td>
          <td class="text-center form-table-td">
            <select class="form-input" ng-model="newParcel.location">
              <option ng-repeat="location in locations" value="{{location.locId}}">{{location.locAddress}} -
                {{location.city}}</option>
            </select>
          </td>
        </tr>
        <tr>
          <td class="text-center form-table-td">
            Weight
          </td>
          <td class="text-center form-table-td">
            <input class="form-input" type="number" ng-model="newParcel.weight" />
          </td>
        </tr>


        <tr>
          <td class="text-center form-table-td" colspan="2">
            <button class="button-22" ng-click="addParcel()"> Save </button>
          </td>
        </tr>


      </table>
    </div>


</body>

</html>