<!doctype html>

<html ng-app="angLocApp">

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
  <script src="/ngIndex.js"></script>
  <script type="text/javascript" src="/js/tools.js"></script>
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <meta charset="UTF-8">
</head>

<body>
  <h1>M2 IOT Assigment</h1>

  <div ng-controller="IndexController" class="center-div">

    <button class="button-22" ng-click="goTo('customers')" role="button">Customers</button>
    <button class="button-22" ng-click="goTo('locations')" role="button">Locations</button>
    <button class="button-22" ng-click="goTo('parcels')" role="button">Parcels</button>

  </div>


</body>

</html>