<!doctype html>

<html ng-app="angLocApp">

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
	<script src="/ngLocations.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<meta charset="UTF-8">
</head>

<body>
	<h1>Locations</h1>
	<div ng-controller="LocationsController">

		<div class="form-table" style="margin-bottom: 10px;">
			<table>
				<!-- <tr>
			  <td class="text-center form-table-td">
				Filter by customer
			  </td>
			  <td class="text-center form-table-td">
				<select class="form-input" ng-model="customerToFilter" ng-change="onChangeParcels()">
				  <option value="all">Show all</option>
				  <option ng-repeat="c in customers" value="{{c.custId}}">{{c.custId}} - {{c.custName}}</option>
				</select>
			  </td>
			</tr> -->
				<tr>
					<td class="text-center form-table-td" colspan="2">
						<button class="button-22" ng-click="action='add'"> Create location </button>
					</td>
				</tr>
			</table>
		</div>

		<table>
			<tr ng-repeat="location in locations">
				<td>{{ location.locId }}</td>
				<td>{{ location.locAddress }}</td>
				<td>{{ location.city }}</td>
			</tr>

		</table>


		<div class="form-table" ng-if="action=='add'">
			<table>
				<td colspan="2" class="text-center form-table-td">
					<h3>Create location</h3>
				</td>
				<tr>
					<td class="form-table-td">Address</td>
					<td class="form-table-td">
						<input class="form-input" type="text" size="30" ng-model="newLocation.address" />
					</td>
				</tr>
				<tr>
					<td class="form-table-td">City</td>
					<td class="form-table-td">
						<input class="form-input" type="text" size="15" ng-model="newLocation.city" />
					</td>
				</tr>
				<tr>
					<td colspan="2" class="text-center form-table-td">
						<button class="button-22" ng-click="newLocation()"> Save </button>
					</td>
				</tr>
			</table>
		</div>
	</div>


	</div>
</body>

</html>